<div><h1><%= @blogger.name %> </div>
<h2><%=@blogger.bio%></h2>

<p><%=@blogger.age%> years old</p>
<p>has <%=@likes%> likes</p>
<p>post with the most likes: <%=@blog_with_most_likes%></p>
<p><%=@popular_destinations%></p>
